/* Malayalam font from google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100&display=swap');

/*  For Scroll bar inside the news card */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 86%, 0.767);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff8c;
}

.main-box {
  height: 80vh;
}
@media only screen and (max-width: 600px) {
  .main-box {
    height: 100vh;
  }

  .card {
    height: 100vh !important;
    margin-top: -10vh;
  }
  .card-w {
    margin-top: -20vh;
    height: 60vh !important;
  }
}

/* Basic Card */
.card {
  width: 100%;
  padding: 20px;

  /* background: #dfe4ea;
  box-shadow: -10px 10px 20px #9ea2a6, 10px -10px 20px #ffffff; */
  height: 60vh;

  background: rgba(233, 233, 234, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* For scrolling in news Card  */
.card-n {
  overflow: auto;
}

/* For single news item card inside the main card  */
.news-item {
  width: 100%;
  padding: 20px;
  /* border-width: 0px;
  border-radius: 10px; */
  /* background: #dfe4ea;
  box-shadow: -11px 11px 24px #bec2c7, 11px -11px 24px #ffffff; */
  font-family: 'Gayathri', sans-serif;

  background: rgba(233, 233, 234, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.news-item:hover {
  background: rgba(233, 233, 234, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.news-imgbox {
  width: 100%;
  max-height: 110px;
  border-radius: 10px;
}
.news-text {
  font-size: 18px;
}
.links {
  color: #131313;
  font-weight: bold;
  text-align: start !important;
}
/* for search box styling  */

.form-group {
  position: relative;
  padding: 5px 0 0;
}

.search-box {
  font-family: inherit;
  width: 80%;
  border: 0;
  border-bottom: 1px solid #131313;
  outline: 0;
  font-size: 0.9rem;
  color: #131313;
  background: transparent;
  transition: border-color 0.2s;
}

.search-box::placeholder {
  color: transparent;
}

.search-box:placeholder-shown ~ .form-label {
  font-size: 1rem;
  cursor: text;
  top: 10px;
}

.form-label {
  position: absolute;
  top: -7px;
  display: block;
  transition: 0.2s;
  font-size: 0.7rem;
  color: #9b9b9b;
}

.serch-btn {
  position: absolute;
  background: transparent;
  border: 0;
  padding: 5px;
}

/* for language select box  */
.lang-select {
  background: transparent;
  height: 30px;
  border-radius: 5%;
  margin-left: 10px;
}

/* Wether section  */

.card-w {
  background: rgba(103, 163, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  padding: 30px;
  padding-right: 35px;
}

.weather-img {
  z-index: -1;
  top: -10px;
  left: -100px;
}

.tem-text {
  font-size: 5.5rem;
  margin-left: 30%;
}
.sup {
  font-size: 2rem;
  margin-top: 25px;
}
.weather-dcr {
  height: 50px;
  margin-top: -40px;
  margin-bottom: -20px;
}

.weather-box-sm {
  height: 100px;
  width: 100px;
  margin: 5px 0px;
  background: rgba(191, 236, 250, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.box-head-1 {
  font-size: 2rem;
  margin-top: 5px;
  margin-bottom: -2px;
}

.unit {
  font-size: 12px;
  color: #7a7a7a;
}
