body {
  /* background: #dfe4ea !important; */
  background: rgb(0, 198, 255);
  background: linear-gradient(
    288deg,
    rgba(0, 198, 255, 1) 51%,
    rgba(0, 255, 235, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
